p{
    word-wrap: break-word;
}

input{
    padding:50px;
}

.table td{
    padding: 0px;
    text-align: center;  
    line-height: 3.6;
}

.deleteall{
    color: red;
}

.btn-info{
    margin: 6px;
}

.table th{
    text-align: center;
}

textarea { 
    resize:none; 
}

textarea:focus, input:focus{
    outline: none;
}

.fa-save:hover{
    cursor: pointer;
}

.red{
    background-color: #ffcccc !important;
}

.green{
    background-color: #ccffcc !important;
}

.gray{
    background-color: #cccccc !important;
}