p{
    word-wrap: break-word;
}

input{
    padding:50px;
}

.table td{
    padding: 0px;
    text-align: center;  
}

.btn-info{
    margin: 6px;
}

.table th{
    text-align: center;
}

textarea { 
    resize:none; 
    /* background-color: lightgreen; */
}

.fa-save:hover{
    cursor: pointer;
}

.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}

.gray{
    background-color: lightgray;
}