p{
    word-wrap: break-word;
}

input{
    padding:50px;
}

.table td{
    padding: 0px;
    text-align: center;  
}

.table th{
    text-align: center;
}

textarea { 
    resize:none; 
}

.fa-save:hover{
    cursor: pointer;
}